<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <h1>测试压缩字体包</h1>
    <p>现在引用的字体包是/assets/fonts文件夹中的<span id="fontName"></span></p>
    <button class="btn">下载ttf</button>

    <hr />
    <form id="upload" enctype="multipart/form-data" method="post">
        <input type="file" name="file" id="filettf" />
        <button onclick="uploadFile()">上传ttf</button>
    </form>

    <hr />
    <button class="change">转换woff2</button>
    <hr />
    <textarea class="writeBox" id="write"></textarea>
    <button class="change" onclick="addWord()">提交</button>

    <hr />
    <div class="box">
        <div class="left">
            <p class="text" id="textFont">

            </p>
        </div>
        <div class="right">
            <p class="usually" id="textUsually">

            </p>
        </div>
    </div>


    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.24.0/axios.min.js"></script>
    <script>
        // 动态加载字体资源
        function activeFontSource() {
            const fontname = 'HYZhengYuan-75S';
            document.getElementById('fontName').innerText = fontname;
            const style = document.createElement('style');
            style.innerHTML = `
            @font-face {
                font-family: ${fontname};
                src: url("http://localhost:3000/font-test?font=${fontname}");
            }
            .text {
                font-family: ${fontname};
                font-display: block;
            }
            `;
            document.head.appendChild(style);
        }



        // 获取页面文字
        function getWord() {
            axios({
                method: 'post',
                url: "http://localhost:3000/send-word",
            }).then((res) => {
                document.getElementById('textFont').innerText = res.data.text
                document.getElementById('textUsually').innerText = res.data.text
                activeFontSource()
            }).catch((err) => {
                alert("网络连接失败,稍后重试", err);
            })
        }
        getWord()

        // 添加文字
        function addWord() {
            let addText = document.getElementById("write").value;
            let pageText = document.getElementById("textFont").innerText;
            let beforeLen = pageText.length;
            pageText = pageText + addText;
            let textArr = [...new Set(pageText.split(''))]
            if (textArr.length === beforeLen) {
                alert('这些字已经在页面上已存在了哦~~~')
                return;
            }
            console.log('addtext')
            axios({
                method: 'post',
                url: "http://localhost:3000/write-word",
                data: {
                    addtext: textArr.join('')
                }
            }).then((res) => {
                alert(res.data.msg)
                getWord()
            }).catch((err) => {
                console.log('error', err)
                alert("网络连接失败,稍后重试", err);
            })
        }
        // 上传名字
        let uploadName = '';

        // 下载ttf
        document.querySelector(".btn").onclick = () => {
            console.log(111111111)
            let a = document.createElement('a'); // 创建一个a节点插入的document
            a.download = 'file.ttf';
            a.href = 'http://localhost:3000/font-test?font=kati'; // 将图片的src赋值给a节点的href
            let event = new MouseEvent('click') // 模拟鼠标click点击事件
            a.dispatchEvent(event); // 触发鼠标点击事件
        }

        // 下载woff2
        document.querySelector('.change').onclick = () => {
            console.log(2222222222)
            if (uploadName.length != 0) {
                axios({
                    method: 'get',
                    url: "http://localhost:3000/ttf-to-woff?name=" + uploadName,
                }).then((res) => {
                    console.log(res.data);
                    alert(res.data.msg)
                    let a = document.createElement('a'); // 创建一个a节点插入的document
                    a.download = res.data.url;
                    a.href = 'http://localhost:3000/woff/' + res.data.url; // 将图片的src赋值给a节点的href
                    let event = new MouseEvent('click') // 模拟鼠标click点击事件
                    a.dispatchEvent(event); // 触发鼠标点击事件
                }).catch((err) => {
                    alert("网络连接失败,稍后重试", err);
                })
            }
        }


        // 上传ttf文件
        function uploadFile() {
            let form = document.getElementById('upload'),
                formData = new FormData(form);
            axios.post('http://localhost:3000/upload', formData, {
                'Content-type': 'multipart/form-data'
            }).then(res => {
                console.log(res.data);
                uploadName = res.data.fileName;
            }, err => {
                alert("网络连接失败,稍后重试", err);
            })
            /*
            $.ajax({
                url: "http://localhost:3000/upload",
                type: "post",
                data: formData,
                processData: false,
                contentType: false,
                success: function (res) {
                    console.log(res);
                    uploadName = res.fileName;
                },
                error: function (err) {
                    alert("网络连接失败,稍后重试", err);
                }
            })
            */
        }
    </script>
</body>

</html>