<!DOCTYPE html>
<html lang="ZH_cn">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <h1>压缩字体包</h1>
    <p class="instructions">本页包含常用6691个字，其中有繁体、简体、特殊字符，如不完整，欢迎补充！</p>
    <p class="instructions">现在引用的字体包是/assets/fonts文件夹中的<span id="fontName"></span></p>
    <p class="instructions">特别说明：下载ttf文件名一致，如需下载不同资源，上传时更改文件名；</p>
    <p class="instructions">可以直接转换ttf格式，与assets文件中的字体包资源不一样，也能进行转换</p>
    <p class="instructions">上传ttf文件大小比较大时，转换woff2时需要时间会变长，如果出错不能下载window窗口会弹窗报错，如果没有任何提示请耐心等待~~</p>
    <p class="instructions">想要对字体资源进行测试，欢迎点击<a href="/active" style="color: #67c23a;">链接</a></p>
    <div class="setup">
        <p>请按如下步骤执行：</p>
        <p>1.下载页面上所有字的字体资源</p>
        <button class="btn">下载ttf</button>

        <p class="bottomdash"></p>
        <p>2.上传第一步下载的ttf文件</p>

        <form id="upload" enctype="multipart/form-data" method="post">
            <input type="file" name="file" id="filettf" oninput="showFile()"/>
            <div class="fileUpload" onclick="document.getElementById('filettf').click()">
                选择文件
            </div>
            <input type="button" name="submit" value="上传ttf" onclick="uploadFile()" class="submit">
            <!-- form表单提交数据不让跳转办法,button标签会自动跳转 -->
        </form>

        <p class="bottomdash"></p>
        <p>3.下载woff2格式的字体资源（说明： woff2格式比ttf格式的文件大小压缩了一半）</p>
        <button class="change">转换woff2</button>
        <p class="bottomdash"></p>
        <p>4.如果页面上的字体资源不足，欢迎补充提交，然后你会在文字后面看到新增的文字，但是没有字体样式，请重新刷新页面，字体资源重新加载，就能下载最新的ttf文件和woff2文件了</p>
        <textarea class="writeBox" id="write"></textarea>
        <button class="change" onclick="addWord()">提交</button>
    </div>

    <div id="special" style="display: none;">﹟ `!^…！~ #﹩$﹠&﹪%*﹡﹢﹦﹤‐￣¯―﹨ˆ˜﹍﹎+=
        <＿_-\ˇ﹉﹊（）〈〉‹›﹛﹜『』〖〗［］《》〔〕{}「」【】1234567890@￥():"[]|? />
        ,.;'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZπ一二三四五六七八九十ⅠⅡⅢⅣⅤⅥⅦⅧⅨⅩⅪⅫ。，、﹑＇：∶‘’“”〝〞﹕︰﹔﹖·¨¸´？～—｜‖＂〃
    </div>
    <div class="box">
        <div class="left">
            <h3>有字体效果</h3>
            <p class="text" id="textFont">

            </p>
        </div>
        <div class="right">
            <h3>无字体效果</h3>
            <p class="usually" id="textUsually">

            </p>
        </div>
    </div>


    <script src="./js/axios.min.js"></script>
    <script>
        let fontname = 'heiti';
        // 动态加载字体资源
        function activeFontSource() {
            document.getElementById('fontName').innerText = fontname;
            const style = document.createElement('style');
            style.innerHTML = `
            @font-face {
                font-family: ${fontname};
                src: url("http://120.55.191.178:3000/home/font-test?font=${fontname}");
            }
            .text {
                font-family: ${fontname};
                font-display: block;
            }
            `;
            document.head.appendChild(style);
        }


        // 显示选择后的文件
        function showFile() {
            let dom = document.querySelector("#filettf");
            let showDom = document.querySelector(".fileUpload");
            let val = dom.value;
            if(val.length != 0) {
                showDom.innerText = '已选择'
                showDom.style.background = '#e8f3ff'
            }
            else {
                showDom.innerText = '选择文件'
                showDom.style.background = '#c2e7b0'
            }
        }

        // 获取页面文字
        function getWord() {
            axios({
                method: 'post',
                url: "http://120.55.191.178:3000/home/send-word",
            }).then((res) => {
                document.getElementById('textFont').innerText = res.data.text
                document.getElementById('textUsually').innerText = res.data.text
                activeFontSource()
            }).catch((err) => {
                alert("网络连接失败,稍后重试", err);
            })
        }
        getWord()

        // 添加文字
        function addWord() {
            let addText = document.getElementById("write").value;
            let pageText = document.getElementById("textFont").innerText;
            let beforeLen = pageText.length;
            pageText = pageText + addText;
            let textArr = [...new Set(pageText.split(''))]
            if (textArr.length === beforeLen) {
                alert('这些字已经在页面上已存在了哦~~~')
                return;
            }
            console.log('addtext')
            axios({
                method: 'post',
                url: "http://120.55.191.178:3000/home/write-word",
                data: {
                    addtext: textArr.join('')
                }
            }).then((res) => {
                alert(res.data.msg)
                getWord()
            }).catch((err) => {
                console.log('error', err)
                alert("网络连接失败,稍后重试", err);
            })
        }
        // 上传名字
        let uploadName = '';

        // 下载ttf
        document.querySelector(".btn").onclick = () => {
            let a = document.createElement('a'); // 创建一个a节点插入的document
            a.download = 'file.ttf';
            a.href = 'http://120.55.191.178:3000/home/font-test?font=' + fontname; // 将图片的src赋值给a节点的href
            let event = new MouseEvent('click') // 模拟鼠标click点击事件
            a.dispatchEvent(event); // 触发鼠标点击事件
        }

        // 下载woff2
        document.querySelector('.change').onclick = () => {
            console.log('upload', uploadName)
            uploadName = uploadName.length === 0 ? fontname :uploadName;
            if (uploadName.length != 0) {
                axios({
                    method: 'get',
                    url: "http://120.55.191.178:3000/home/ttf-to-woff?name=" + uploadName,
                }).then((res) => {
                    console.log(res.data);
                    alert(res.data.msg)
                    let a = document.createElement('a'); // 创建一个a节点插入的document
                    a.download = res.data.url;
                    a.href = 'http://120.55.191.178:3000/woff/' + res.data.url; // 将图片的src赋值给a节点的href
                    let event = new MouseEvent('click') // 模拟鼠标click点击事件
                    a.dispatchEvent(event); // 触发鼠标点击事件
                }).catch((err) => {
                    alert("网络连接失败,稍后重试", err);
                })
            }
        }


        // 上传ttf文件
        function uploadFile() {
            console.log('uploadFile--ttf')
            let form = document.getElementById('upload'),
                formData = new FormData(form);
            axios.post('http://120.55.191.178:3000/home/upload', formData, {
                'Content-type': 'multipart/form-data'
            }).then(res => {
                console.log(res.data);
                uploadName = res.data.fileName;
                alert(res.data.msg)
            }, err => {
                alert("网络连接失败,稍后重试", err);
            })
        }
    </script>
</body>

</html>