
/* @font-face {
    font-family: op-design;
    src: url('../fonts/HYZhengYuan-75S.ttf') format('truetype');
} */


/* 繁体+简体+特殊字符 */
.text {
  font-family: op-design;
  font-size: 16px;
  line-height: 30px;
}

.usually {
  font-size: 16px;
  line-height: 30px;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

.box {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.left {
  border: 1px solid #ccc;
  padding: 10px;
  margin-right: 50px;
}

.right {
  border: 1px solid #ccc;
  padding: 10px;
}
.writeBox {
  width: 500px;
  height: 200px;
  margin: 0 auto;
}
button {
  padding: 9px 15px;
  border-radius: 3px;
  color: #fff;
  background-color: #9fd6b7;
  border-color: #88d6aa;
}

#filettf {
  padding: 9px 15px;
}